#selectDiv {
    width: 80%;
    height: 10px;
    margin-top: 10px;
    text-align: right;
}
#dotdiv {
    display: inline-block;
    position: absolute;
    height: 35px;
    width: 35px;
    background: transparent;
    right: 45px;
    top: 28px;
    transition: 0.15s;
    text-align: center;
}
#dotdiv:hover {
    background-color: #ccccd3;
    border-radius: 5px;
    transition: 0.2s;
}
.optns {
    display: inline-block;
    position: absolute;
    width: 100px;
    height: 0px;
    top: 63px;
    right: 45px;
}
.dot {
    display: inline-block;
    width: 6px;
    height: 6px;
    border-radius: 5px;
    margin-top: 15px;
    background-color: #8888ce;
}
.closeButton {
    display: inline-block;
    position: absolute;
    right: 0px;
}
.custombtn {
    width: 100px;
    height: 0px;
    transition: 0.2s;
    display: block;
    border-radius: 0px;
    background-color: #cacaca;
    border: 0px;
    padding: 0px;
    margin-right: 10px;
    line-height: 30px;
    overflow: hidden;
    color: black;
}
#updt:hover {
    background-color: #8a8a8a;
    color: white;
}
.trueHeight {
    height: 30px;
}
.show {
    cursor: pointer;
}
.display {
    display: block;
}
.borderline {
    border-top: 1px solid #e3e3e3;
}