{% extends "layout.html" %}
{% block content %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/about.css') }}">
<div class="content-section">
    <div class="media">
        <img class="account-img" src="{{ url_for('static', filename='assets/icon.png') }}">
        <div class="media-body">
            <h1 style="margin-top: 30px">Tiwwter</h1>
        </div>
    </div>
    <h1 class="mb-3">About</h1>
    <div class="content-section">
        <div><p>Tiwwter is a small project by Saki and Spinzed which was started in attempt to learn
            more about web development, how does the web structure work, how parts of it interact
            with each other and etc.</p></div>
        <div><p><a href="https://github.com/Spinzed">Saki's GitHub</a></p>
        <p><a href="https://github.com/isakal">Spinzed's GitHub</a></p></div>
    </div>
</div>
{% endblock content %}